html body {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.main-page-container {
    flex-direction: column;
    width: 100%;
}

.auth-container {
    margin-top: 5rem;
}