.panel-container {
    display: flex;
    margin: 1.5rem auto;
    flex-wrap: wrap;
    justify-content: center;
}

.panel-container a {
    border-radius: 0;
    width: 14%;
    margin: 1.1%;
    height: 6rem;
    vertical-align: middle;
}

.panel-container a .btn {
    width: 100%;
}

.panel-container .btn {
    border-radius: 0;
    font-size: 1.2rem;
    height: 6rem;
    vertical-align: middle;
}

Link {
    height: 100%;
    vertical-align: middle;
}

Link p {
    height: 100%;
}