.panel-container {
    width: 80%;
    display: flex;
    margin: 1.5rem auto;
    /* flex-grow: 1; */
    height: 30%;
    flex-wrap: wrap;
    justify-content: center;
}

/* button {
    font-size: 2rem !important;
    width: 31%;
    margin: 1.1%;
    height: 6rem;
} */

.panel-container Link {
    border-radius: 0;
    font-size: 2rem !important;
    width: 31%;
    margin: 1.1%;
    height: 6rem;
    vertical-align: middle;
}

.panel-container a {
    border-radius: 0;
    font-size: 2rem !important;
    width: 31%;
    margin: 1.1%;
    height: 6rem;
    vertical-align: middle;
}

.panel-container a .btn {
    width: 100%;
}

.btn {
    border-radius: 0;
    font-size: 2rem !important;
    width: 31%;
    margin: 1.1%;
    height: 6rem;
    vertical-align: middle;
}

Link {
    height: 100%;
    vertical-align: middle;
}

Link p {
    height: 100%;
}