.panel-container {
    width: 80%;
    display: flex;
    margin: 1.5rem auto;
    height: 20vh;
    flex-wrap: wrap;
    justify-content: center;
}

.panel-container a {
    border-radius: 0;
    font-size: 2rem !important;
    width: 20%;
    margin: 1.1%;
    height: 6rem;
    vertical-align: middle;
}

.panel-container a .btn {
    width: 100%;
}

.panel-container .btn {
    border-radius: 0;
    font-size: 2rem !important;
    width: 31%;
    margin: 1.1%;
    height: 6rem;
    vertical-align: middle;
}

Link {
    height: 100%;
    vertical-align: middle;
}

Link p {
    height: 100%;
}