.sidebar-container {
    display: flex;
    width: 10rem;
    background: rgb(29, 29, 31);
    height: 100vh;
}

.sidebar {
    background: rgb(29, 29, 31);
    width: 100%;
    color: white;
}

.sidebar-header {
    text-align: center;
    padding: 1.5rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}

.sidebar ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li {
    list-style: none;
    width: 100%;  
}

.sidebar ul li:hover, .sidebar ul a li:hover {
    opacity: 0.8;
    background: grey;
}

li a{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 6rem;
}

i {
    color: white;
}