{
    "extends": "react-app",
    "rules": {
        "indent": [
            "warn",
            "tab"
        ]
    },
    "overrides": [
        {
            "files": [
                "**/*.spec.js"
            ],
            "rules": {
                "no-undef": "off"
            }
        }
    ]
}