.balance-container {
    width: 80%;
    display: flex;
    margin: 1.5rem auto;
    height: 30%;
    flex-direction: column;
}

.balance-container p {
    font-size: 1.5rem;
}

.balance-container .user-info-container {
    margin: 0;
    padding: 0;
}

.account-details-number, .balance-header {
    font-weight: 800;
    font-size: 1.5rem;
}

.account-details-div{
    margin-bottom: 1rem;
}

.staff-type {
    font-weight: bold;
}