.balance-container {
    width: 80%;
    display: flex;
    margin: 1.5rem auto;
    height: 30%;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.balance-container p {
    font-size: 1.5rem;
}

.balance-container .user-info-container {
    margin: 0;
    padding: 0;
}

.account-details-number {
    font-weight: 800;
    font-size: 1.5rem;
}

.account-details-div{
    margin-bottom: 1rem;
}