.new-card-container {
    width: 80%;
    margin: 1.5rem auto;
    font-size: 1rem;
}

.cards-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-element {
    width: 30vw;
    text-align: center;
    padding: 1rem;
}

.card-text {
    margin: .5rem 0;
    text-align: left;
}

.card-element:hover {
    opacity: 0.8;
    background: grey;
}

@media (max-width: 1180px) {
    .new-card-container {
        width: 80%;
        margin: 1rem auto;
        font-size: 1rem;
    }
}

@media (max-width: 890px) {
    .new-card-container {
        width: 80%;
        margin: 1rem auto;
        font-size: .7rem;
    }
}